<nav class="navbar Sticky-top navbar-expand-lg mb-2">
  <div class="container-fluid">
      <a class="navbar-brand logo-details" href="/"><i class="fas fa-fire-alt icon"></i> YelpCamp</a>
      <button id = "collapse" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="bi bi-list"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav tags">
              <a class="nav-link content" href="/">Home</a>
              <a class="nav-link content" href="/campgrounds">Campgrounds</a>
              <a class="nav-link content" href="/campgrounds/new">New Campground</a>
              <a class="nav-link content" href="/about">About us</a>
          </div>
          <div class="navbar-nav ml-auto tags">
              <% if(!currentUser) {%>
              <a class="nav-link content" href="/login">Login</a>
              <a class="nav-link content" href="/register">Register</a>
              <% } else {%>
              <a class="nav-link content" href="/logout">Logout</a>
              <% } %>
          </div>
      </div>
  </div>
</nav>