<% layout('layouts/boilerplate')%>
<div class="about">
  <!-- ------------------------------------ -->
  <div class="upper">
    <div class="logo">
      <img src="/images/logo.gif" alt="" id="logo" />
      <div class="image">
        <div class="camp">
          <img src="/images/tent.png" alt="" id="tent" />
          <img src="/images/fire.gif" alt="" id="fire" />
        </div>
      </div>
    </div>
    <div class="info">
      <h1>
        ABOUT <i class="fas fa-fire-alt" style="color: #e85d04"></i>
        <span class="yelp">YELPCAMP</span>
      </h1>
      <p>
        Yelp Camp is a web application that allows you to view campgrounds with
        a short description. Once you login or signup you can begin to create
        your own campgrounds that includes a title, image address and short
        description. Explore the beautiful world through our website
      </p>
    </div>
  </div>
  <!-- ------------------------------------ -->
  <div class="lower">
    <div class="info">
      <h1>ABOUT OUR <span class="yelp">TEAM</span></h1>
      <p>
        Our skilled and zealous team constantly works hard to make your
        experience simple, smooth and delightful. We are looking forward to make
        your experience the best, so we would appreciate if you reach out to our
        team with your suggestions
      </p>
    </div>
    <div class="slider">
      <img src="/images/camp1.png" alt="" id="slider" />
    </div>
  </div>
  <!-- ------------------------------------ -->
</div>
