.edit{
    font-family: 'Nunito', sans-serif;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.head-text{
    font-size:2rem;
    margin: 2rem 0;
    font-weight: 700;
    text-align: center;

}

.text{
   font-size: 17px;
}
