/* Flexbox styling for the form on the right */
.login-form {
    width: 100%;
    max-width: 600px; /* Adjust as necessary for form width */
    padding: 20px;
    color: black;
}

/* Hide the image on small screens */
@media (max-width: 768px) {
    .image-container {
        display: none;
    }
    /* Make the form container take full width on small screens */
    .login-form {
        max-width: 100%;
        padding: 20px;
    }
}

/* Ensure the image covers the left 50% of the screen */
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon {
    color: #e85d04;
    font-size: 1.8rem;
    margin-right: 5px;
    margin-top: 15px;   
}

.login-details {
    color: black;
    font-family: "Dancing Script", cursive;
    font-weight: 900; /* Adjust this value as needed */
    text-shadow: 1px 1px 2px black; /* This can give a bolder look */
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 10px;
}

.login-title {
    font-size: 1.5rem;
    font-weight: 600;
}

body {
    overflow: hidden; /* Prevents scrolling */
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to bottom right, #F5E2D0, #F3DED5);
}

input::placeholder {
    font-size: 17px;
}

.register-link {
    color: #393f81;
    font-weight: 600;
}

.form-label {
    font-weight: 600;
    font-size: 18px;
}

.vh-100 {
    height: 100vh;
}

.container-fluid {
    padding: 0;
}
